body {
    background-color: #808080;
    margin: 0;
    padding: 0;
}

.pdf-viewer {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
}
#viewerContainer {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
  }